<div class="card-trip border
  <% if trip.booking?(current_user) %>
    <%= trip.approved_passenger?(current_user) ? ' booking-approved' : ' booking-pending' %>
  <% end %>
">
  <div class="row d-flex justify-content-between m-0 p-4 h-100">
    <div class="card-left d-flex flex-column justify-content-between">
      <small class="m-0"><%= trip.start_time.strftime("%d/%m/%Y") %></small>
      <div class="card-journey d-flex flex-wrap">
        <div class="card-journey-origin mr-3"><p class="m-0"><%= trip.start_time.strftime("%H:%M") %></p><h3><%= trip.start_point %></h3></div>
        <div class="d-flex align-items-center">
          <i class="fas fa-arrow-circle-right mr-3"></i>
          <div class="card-journey-destination"><p class="m-0"><%= trip.end_time.strftime("%H:%M") %></p><h3><%= trip.end_point %></h3></div>
        </div>
      </div>
      <div class="card-tags">
        <i class="fas fa-venus-double"></i><i class="fas fa-smoking-ban"></i>
      </div>
    </div>
    <div class="card-right d-flex flex-column justify-content-between text-right">
      <div class="card-driver">
        <% if current_user == trip.driver %>
          <i class="fas fa-car fa-3x driver-icon"></i>
        <% else %>
          <%= trip.driver.username %>
          <%= cl_image_tag trip.driver.photo, gravity: "faces", crop: "fill", class: "avatar-large" %>
        <% end %>
      </div>
      <h4 class="card-price m-0">
        ¥<%= trip.price %>
      </h4>
    </div>
  </div>
</div>
