<div class="card-trip border bg-white my-3 m-md-3">
  <div class="row d-flex justify-content-between m-0 p-4 h-100">
    <div class="card-left d-flex flex-column justify-content-between">
      <div class="card-journey d-flex flex-wrap">
        <h3 class="card-journey-origin mr-3"><p class="m-0"><small><%= trip.start_time.strftime("%H:%M") %></small></p><%= trip.start_point %></h3>
        <div class="d-flex align-items-center">
          <i class="fas fa-arrow-circle-right mr-3"></i>
          <h3 class="card-journey-destination"><p class="m-0"><small><%= trip.end_time.strftime("%H:%M") %></small></p><%= trip.end_point %></h3>
        </div>
      </div>
      <div class="card-tags">
        <i class="fas fa-venus-double"></i><i class="fas fa-smoking-ban"></i>
      </div>
    </div>
    <div class="card-right d-flex flex-column justify-content-between text-right">
      <div class="card-driver">
        <%= trip.driver.username %>
        <%= cl_image_tag trip.driver.photo, gravity: "faces", crop: "fill", class: "avatar-large" %>
      </div>
      <h4 class="card-price m-0">
        ¥<%= trip.price %>
      </h4>
    </div>
  </div>
</div>
