<div class="d-flex justify-content-around">
  <div class="card-user d-flex align-items-center bg-white my-3 my-md-3 py-3 justify-content-between">
    <div class="user-details d-flex align-items-center">
      <%= cl_image_tag booking.passenger.photo, gravity: "faces", crop: "fill", class: "avatar-large mr-3" %>
      <p class="p-0 mt-0 mb-0 pr-2"><%= booking.passenger.username %></p>
      <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i> (3.6)
    </div>
  </div>
  <div class="d-flex flex-column justify-content-around py-3">
    <!-- <div class="row justify-content-around"> -->
      <%= simple_form_for [booking.trip, booking] do |f| %>
      <% unless booking.approved %>
        <%= f.input :approved, as: :hidden, input_html: { value: :true } %>
        <%#= f.submit class: 'btn btn-primary' do %>
        <%= f.submit "Approve", class: "btn btn-primary px-5 ml-3 w-100" do %>
          <i class="fas fa-thumbs-up"></i></i> Approve <%= booking.passenger.username %>'s request ?
          <% end %>
          <% end %>
        <% end %>

      <%= simple_form_for [booking.trip, booking] do |f| %>
        <%= f.input :approved, as: :hidden, input_html: { value: :false } %>
        <%#= f.submit class: 'btn btn-primary' do %>
        <%= f.submit "Deny", class: "btn btn-danger px-5 ml-3 w-100" do %>
          <i class="fas fa-thumbs-up"></i></i> Reject <%= booking.passenger.username %>'s request ?
        <% end %>
      <% end %>
    <!-- </div> -->
  </div>
</div>
