<div class="d-flex justify-content-around align-items-center">
  <div class="card-user d-flex align-items-center bg-white my-3 my-md-3 py-3 justify-content-between">
    <div class="user-details d-flex align-items-center">
      <%= cl_image_tag booking.passenger.photo, gravity: "faces", crop: "fill", class: "avatar-large mr-3" %>
      <div class="mr-5 ml-3">
        <div class="row p-0 mt-0 mb-0">
          <p class=""><%= booking.passenger.username %></p>
        </div>
        <div class="row p-0 mt-0 mb-0">
          <%= render "shared/stars", user: booking.passenger%>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center bg-white my-3 my-md-3 py-3 justify-content-between ml-5">

      <div>
        <% if booking.approved == true %>
          <button type="button" class="btn btn-outline-primary px-5" disabled>Approved!</button>

        <% else %>
        <%= simple_form_for [booking.trip, booking] do |f| %>
          <%= f.input :approved, as: :hidden, input_html: { value: :true } %>
          <%#= f.submit class: 'btn btn-primary' do %>
          <%= f.submit "Approve", class: "btn btn-primary px-5 w-100", style: "margin-top: -19px" do %>
            <i class="fas fa-thumbs-up"></i></i> Approve <%= booking.passenger.username %>'s request ?
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="ml-3">
        <%= simple_form_for [booking.trip, booking] do |f| %>
        <%= f.input :approved, as: :hidden, input_html: { value: :false } %>
        <%#= f.submit class: 'btn btn-primary' do %>
        <%= f.submit "  Deny  ", class: "btn btn-danger px-5 w-100", style: "margin-top: -19px" do %>
          <i class="fas fa-thumbs-up"></i></i> Reject <%= booking.passenger.username %>'s request ?
          <% end %>
        <% end %>
      </div>

  </div>
</div>
