<div class="journey-summary shadow col-12">
  <h2 class="text-center"><%= trip.start_time.strftime("%a, %e %b %Y") %></h2>
    <div class="d-flex justify-content-around mb-3 flex-wrap">
        <div class="card-journey-origin col-12 col-lg-5">
          <small>Departure:</small>
          <p><%= trip.start_time.strftime("%H:%M") %></p>
          <h3> <%= trip.start_point %>  </h3>
        </div>
        <i class="fas fa-2x fa-arrow-circle-right my-3 col-12 col-lg-2"></i>
        <div class="card-journey-destination col-12 col-lg-5">
          <small>Arrival (est.):</small>
          <p><%= trip.end_time.strftime("%H:%M") %></p>
          <h3> <%= trip.end_point %> </h3>
        </div>
    </div>
</div>
