<h1>Trip from <%= @trip.driver.email %> to <%= @trip.end_point %></h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8">
        <div class="card">
          <div class="d-flex flex-row">
            <div class="p-2">photo</div>
            <div class="p-2">
              <h3><%= "#{@trip.start_point} => #{@trip.end_point}" %></h3>
              <h4> <%=  "#{@trip.start_date} => #{@trip.end_date}"%></h4>
              <div class="btn btn-outline-primary btn-lg">request</div>
            </div>
            <div class="p-2">
              <h3>$</h3>
              <h4><%=%>rating</h4>
            </div>
          </div>
          <div class="driver-view">
            <h3>Bookings for the trip:</h3>
              <% @booking.each do |line|%>
            <div class="d-flex flex-row">
            <div class="p-2">photo</div>
            <div class="p-2">
              <h4> Name: <%=  "#{line.passenger.first_name}, #{line.passenger.first_name}"%></h4>
              <h5>Email: <%= "#{line.passenger.email} => #{}" %></h5>
            </div>
            <div class="p-2">
              <h4><%=%>rating</h4>
            </div>
            <% end %>
          </div>
    </div>
  </div>
</div>
