<div class="card-user d-flex align-items-center border-top bg-white my-3 my-md-3 py-3 justify-content-between">
  <div class="user-details d-flex align-items-center">
    <%= cl_image_tag user.photo, gravity: "faces", crop: "fill", class: "avatar-large mr-3" %>
    <p class="p-0 m-0"><%= user.username %></p>
  </div>
  <div class="user-rating">
    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i> (3.6)
  </div>
</div>
<div class="row justify-content-around">
  <%= link_to "#", class: "btn btn-outline-primary px-5" do %>
    <i class="far fa-user-circle"></i> View <%= user.username %>'s profile
  <% end %>
  <%= link_to "#", class: "btn btn-outline-primary px-5" do %>
    <i class="far fa-comments"></i> Contact <%= user.username %>
  <% end %>
</div>
