<div class="container mt-5">
  <div class="row justify-content-center pt-5">
    <div class="col-12 col-sm8">
      <% @trip.users_other_than_(current_user).each do |user| %>
      <%# @trip.users.where.not(id: current_user).each do |user| %>

        <% prev_review = @trip.reviews.find_by(reviewer: current_user, reviewee: user) %>
        <% if prev_review %>
          <p><%= prev_review.comment %></p>
        <% else %>
          <h3>Add a review <%= user.username %></h3>
          <%= simple_form_for [@trip, @review] do |f| %>
            <%= f.input :rating, collection: 0..5 %>
            <%= f.association :reviewee, as: :hidden, input_html: {value: user.id} %>
            <%= f.input :comment %>
            <%= f.submit class: "btn btn-primary"%>
          <% end %>
        <% end %>
      <% end %>

      <%= link_to "Back to trips", user_trips_path %>
    </div>
  </div>
</div>
